__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
.eggs/
*.egg-info/
wheels/
*.egg
MANIFEST
htmlcov/
.tox/
.nox/
.coverage*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
__pypackages__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
